a,div, dt, em, embed, fieldset,dd,dl 
figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header,
hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter,
nav, p, pre, span, source, strike, strong, sub, sup, table, tbody, tfoot, 
thead, th, tr, ul, var 
{
    background:transparent;
    border:0 none;
    font-size:100%;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:top
}
ol, ul {list-style:none}
blockquote, q {quotes:none}
